.title {
	text-align: center;
	font-family: 'EB Garamond', adobe-garamond-pro, Palatino, 'Palatino Linotype', '思源宋体', 'Source Han Serif SC', 'Noto Serif CJK SC', '思源宋体 CN', 'Source Han Serif CN', 'Noto Serif SC', source-han-serif-sc, '华文中宋', STZhongsong, 'Songti SC Bold', '方正姚体', serif;
	font-weight: 600;
	font-style: normal;
	font-variant-ligatures: common-ligatures;
	font-variant-numeric: oldstyle-nums;
	line-height: 150%;
}
.text-center {
	text-align: center;
	font-family: 'EB Garamond', adobe-garamond-pro, Palatino, 'Palatino Linotype', '思源宋体', 'Source Han Serif SC', 'Noto Serif CJK SC', '思源宋体 CN', 'Source Han Serif CN', 'Noto Serif SC', source-han-serif-sc, '方正宋三简体' ,'Songti SC Regular', '华文宋体', STSong, serif;
	font-weight: 400;
	font-style: normal;
	font-variant-ligatures: common-ligatures;
	font-variant-numeric: oldstyle-nums;
	line-height: 150%;
}
.text {
	text-align: justify;
	font-family: 'EB Garamond', adobe-garamond-pro, Palatino, 'Palatino Linotype', '思源宋体', 'Source Han Serif SC', 'Noto Serif CJK SC', '思源宋体 CN', 'Source Han Serif CN', 'Noto Serif SC', source-han-serif-sc, '方正宋三简体' ,'Songti SC Regular', '华文宋体', STSong, serif;
	font-weight: 400;
	font-style: normal;
	font-variant-ligatures: common-ligatures;
	font-variant-numeric: oldstyle-nums;
	line-height: 150%;
}
.date {
	text-align: right;
	font-family: 'EB Garamond', adobe-garamond-pro, Palatino, 'Palatino Linotype', '华文仿宋', STFangSong, '仿宋', '仿宋_GB2312', serif;
	font-weight: 400;
	font-style: normal;
	font-variant-ligatures: common-ligatures;
	font-variant-numeric: oldstyle-nums;
	line-height: 150%;
}
.ui {
	text-align: right;
	font-family: '微软雅黑 Light', 'Microsoft Yahei Light', 'Microsoft Yahei UI Light', sans-serif;
	font-weight: 400;
	font-style: normal;	
	font-variant-ligatures: common-ligatures;
	line-height: 150%;
}
.foot{
	text-align: right;
	font-family: '微软雅黑 Light', 'Microsoft Yahei Light', 'Microsoft Yahei UI Light', sans-serif;
	font-weight: 400;
	font-style: normal;	
	font-variant-ligatures: common-ligatures;
	line-height: 150%;
	position: fixed;
	right: 10%;
	bottom: 5%;
}

/*
visit https://www.cssfontstack.com/ to check web safe fonts
*/