:root {
	background-color: #fbf2e3;
	background-image: url("/style/cream-paper.png");
	color: #222222;
}
a {
	color: #222222;
}
a:hover {
	color: #888888;
}
nav {
	width: auto;
	background-color: none;
}
footer {
	color: #888888;
	opacity: 0;
}
footer:hover {
	opacity: 1;
}
