body {
	margin: 5vh auto;
	width: 32rem;
	max-width: 80%;
}
body>div.title,div.text-center,div.text {
    min-height: calc(87.5vh - 1.2rem - 1.5vh);
}
@media (min-height: 480px) {
	body>:not(nav) {
		transform: translateY(calc(100vh / 3 - 160px));
	}
	body>div.title,div.text-center,div.text {
	    min-height: calc(87.5vh - 100vh / 3 + 160px - 1.2rem - 1.5vh);
	}
}
nav {
	position: fixed;
	right: 5%;
	bottom: 7.5%;
	z-index: 999;
}
footer {
	margin: auto;
	vertical-align: middle;
	min-width:75%;
	max-width:350px;
}
img {
	display: block;
	margin: auto;
	text-align: center;
	max-width: 100%;
}
nav img, footer img {
	display: inline;
	height: 1em;
	vertical-align: middle;
}
table {
	width: 100%;
	margin: auto;
	vertical-align: middle;
	overflow: auto;
}
@media (max-width: 480px) {
	table {
		width: 120%;
		margin-left: -10%;
}}

td {
	padding:0.25em 0.5em 0.25em 0.5em;
	border:thin #888888 dotted;
}
@media print {
	body {
		color: #000000;
		background: #ffffff;
	}
	nav {display: none;}
	footer {opacity: 1;}
}
