/* vertical */

:root {
	line-height: calc(1.2em + 1.5vh); }
body {
	margin: 5vh auto;
}
nav {
	position: fixed;
	z-index: 999;
	bottom: 5vh; }
nav#top {
	top: 5vh; }
nav, footer {
	vertical-align: middle;
}
body>div.title,div.text,div.text-center {
	min-height: calc(87.5vh - 1.2rem - 1.5vh); }

@media (min-height: 480px) {
	body>:not(nav) {
		transform: translateY(calc(100vh / 3 - 160px)); }
	body>div.title, body>div.text, body>div.text-center {
		min-height: calc(87.5vh - 100vh / 3 + 160px - 1.2rem - 1.5vh); }
}


/* horizontal */

body {
	width: 32rem;
	max-width: 80%;
}
nav {
	right: 5%; }
hr {
	width: 33%;
	border-top: thin dashed gray;}
footer {
	margin: auto;
	min-width:18rem;
	max-width:350px;
}
.text, pre code {
	text-align: justify; }
.title, h1, h2, .text-center, footer {
	text-align: center; }
.date {
	text-align: right;
}
iframe, img {
	display: block;
	margin: auto;
	max-width: 100%; }
nav img, footer img {
	display: inline;
	height: 1em;
}

table {
	margin: auto;
	width: 100%;
	text-align: center;
	vertical-align: middle;
	overflow: auto;
	border: thin gray solid;
	border-spacing: 0;
}	@media (max-width: 480px) {
	table {
	margin-left: -10%;
	width: 120%; }}
table tr:first-child {
	text-align: center; }
th, td {
	padding:0.25em 0.5em 0.25em 0.5em;
	border:thin lightgray dotted; 
}

/* print style*/

@media print {
	body {
		color: #000000;
		background: #ffffff;
	}
	nav {display: none;}
	footer {opacity: 1;}
}