:root {
	background-color: #222222;
	background-image: url("/style/black-paper.png");
	color: #eeeeee;
}

a {
	color: #eeeeee;
	text-decoration: none;
}
a:hover {
	color: #ffffff;
}
nav {
	width: calc(1.5em + 1.25vh);
	height: calc(1.5em + 1.25vh);
	border-radius: 50%;
	background-color: RGBA(127,127,127,0.33);
}

@media print and (min-aspect-ratio: 4/3) {
	body {
		width: 95%;
		column-count: 2;
		column-gap: 5%;
}}