:root {
	background-color: #e8edec;
	background-image: url("/style/natural-paper.png");
	color: #222222;
}
a {
	color: #222222;
	text-decoration: none;
}
a:hover {
	color: #444444;
}
nav {
	width: calc(1.5em + 1.25vh);
	height: calc(1.5em + 1.25vh);
	border-radius: 50%;
	background-color: RGBA(255,255,255,0.5);
}