:root {
	background-color: #e8edec;
	background-image: url("/style/natural-paper.png");
	color: #222222;
}
a {
	color: #222222;
	text-decoration: none;
}
a:hover {
	color: #444444;
}
nav {
	background-color: RGBA(255,255,255,0.5);
}
footer {
	color: #888888;
	opacity: 0.25;
}
footer:hover {
	opacity: 1;
}

@media print and (min-aspect-ratio: 4/3) {
	body {
		width: 95%;
		column-count: 2;
		column-gap: 5%;
}}